.campo-texto{
    height: 250px;
    border: 3px solid black;

    margin: 0 auto;
    padding: 10px;
    text-align: left;
    white-space: pre-wrap;
}

.texto{
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

.jogo-concluido{
    background-color: lightgray;
    transition: 1s ease-in;
}

.score{
    width: 200px;
    margin: 0 auto;
    list-style: none;
}

.container{
    width: 100%;
}

.cronometro{
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    vertical-align: top;
}

.spinner{
    display: none;
}

.mostra-spinner{
    opacity: 1;
}

.contador{
    font-size: 18px;
    display: inline;
}
footer{
    background-color: #e0e0e0;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

footer .row{
    height: 40px;
}
#logo-alura{
    width: 80px;
    margin-top: 5px;
    margin-left: 0px;
}

.erro{
    color: red;
    display: none;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-placeholder);
}
